PORT=3000
NODE_ENV=development
MONGO_URL=
JWT_SECRET=
FRONTEND_DOMAIN=http://localhost:3001
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
